.w-95vw{
    width: 95vw;
}
.height{
    height: 27rem;
}

.sticky-nav {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1; 
  }

  .hover:hover{
    background-color: rgb(224, 210, 210);
  }
  
